/*Selector de etiqueta*/
h1{
    color:rgb(32, 30, 30);
}
h2{
    color:rgb(189, 145, 109);
}
/*Selector de clase*/
.oscuro{
    background-color: black; 
    color:white; 
}
/*Selector ID*/
#p1 {
    color:rgb(128, 58, 0);
}
header {
    background-image: url("./foto fondo.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 3rem 1rem;
  }
  footer {
    background-color: #8b5e3c;
    color: #fff8ec;
    text-align: center;
    padding: 1rem;
  }
  
  footer a {
    color: #fff8ec;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 0 0.5rem; 
    font-size: 1.8rem; 
    display: inline-block; 
  }
  
  footer a:hover {
    color: rgb(172, 67, 125);
  }
  